* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(143, 231, 255);
    border: 8px dashed rgb(39, 0, 179);
}



#player {
	background-color: rgb(255, 191, 0);
	border: 4px dashed rgb(0, 0, 0);
	width: 50px;
	height: 50px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: #444;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}